body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
}

#seat-map {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* Adjust the size and number of columns based on your preference */
    gap: 5px;
    max-width: 800px;
    margin: 20px 0;
}

.row {
    display: flex;
}

.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 5px; /* Adjust the margin based on your preference */
}

.seat.selected {
    background-color: #3498db;
    color: #fff;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #217dbb;
}
