body {
    background-image: url('theater-bg.jpg');
    
    margin: 0; /* Reset default margin */
}

#header h3 {
    margin: 0;
    padding: 10px;
}

.left-links {
    float: left;
    padding-right: 50px;
    color: rgba(255, 255, 255, 0.651);
}

.right-links {
    float: right;
    color: rgba(255, 255, 255, 0.651);
}

#movie {
    clear: both; /* Clear floats to ensure #movie div wraps around the floated elements */
}

#movie img {
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px; /* Add some space to the right of the image */
    margin-top: 50px; /* Add some space between the header and the image */
}

