/* General Styles */
body {
    line-height: 24px;
    font-size: 14px;
    color: #b6b7b9;
    background-image: url('../img/hero-area.png');
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 200px;
    text-align: center;
    
}

/* Reset CSS */
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}

/* Header Styles */
.header {
    background-color: #1a1d2b;
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    max-width: 100%;
    height: auto;
}

.header .menu-area {
    display: flex;
    align-items: center;
}

.header .mainmenu ul {
    display: flex;
}

.header .mainmenu ul li {
    margin-left: 30px;
}

.header .mainmenu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header .mainmenu ul li a:hover {
    background-color: #eb315a;
}

/* Login Area */
form {
    background-color: #fff;
    padding: 50px 0;
    
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 100px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 200px;
}

form h6 {
    color: #b6b7b9;
    text-align: left;
    margin-bottom: 5px;
}


form input[type="text"],
form input[type="password"] {
    background-color: #fff; /* Change to white */
    color: #000; /* Change text color to black for better visibility */
    width: 100%;
    padding: 10px;
    border: solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}



form .login-signup {  
    display: flex;
    justify-content: space-between;
    align-items: center; /* Change alignment to top */
    margin-top: 20px; /* Add margin-top for spacing */
}


form .signup-link {
    flex: 1; /* This will make the "Sign Up" link take up the available space */
    text-align: left; /* Align "Sign Up" link to the left */
    padding-right: 180px;
}

form .login-signup a {
    color: #eb315a;
}

form .theme-btn {
    margin-top: 0;
    background: #eb315a !important; /* Change background color */
    color: #fff !important; /* Change text color */
    border: 1px solid #eb315a !important;
    border-radius: 35px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

form .theme-btn:hover {
    background: #fff !important; /* Change background color on hover */
    color: #eb315a !important; /* Change text color on hover */
}

.error-message {
    color: red;
}